<%- include header.ejs %>
<div class="login-form">
    <h1>Welcome Login Form</h1>
    <form class="form-horizontal" method="post">
        <input type="text" id="username" name="username"
               placeholder="Username" required="">
        <input type="password" id="password" name="password"
               placeholder="Password" required="">
        <input type="submit" value="Login">
    </form>
</div>


<%- include footer-another.ejs %>