<div class="post-modal post-hidden">
    <form method="post" action="/post" class="form-inline say">
        <h4>
            TO: <input type="text" name="lovername" maxlength="20" placeholder="给谁告白呀？" required>
        </h4>
        <div style="margin-top: 3%;">
            SHOW: <textarea name="post" id="" cols="30" rows="4"
                            maxlength="80" placeholder="表白要简洁哦，字数不超过80~"
                            required style="width: 100%;line-height: 150%;"></textarea>
        </div>
        <h4 style="text-align: right;margin-top: 6%;margin-bottom: 1%;">
            FROM: <input type="text" name="yourname" maxlength="20" placeholder="要署名不？" required>
        </h4>
        <button type="submit" class="btn btn-success" style="margin-left: 40%;height: 26px;">告白</button>
    </form>
</div>


